button {
  --color-background: var(--ds-color-surface-3);
  --color-background-hover: var(--ds-color-surface-4);
  --color-background-active: var(--ds-color-surface-5);

  display: flex;
  align-items: center;
  gap: var(--ds-space-s);
  cursor: pointer;
  user-select: none;

  height: 28px;
  padding: 0 var(--ds-space-m);
  border-radius: var(--ds-radius);
  border: 0;
  transition:
    background var(--ds-transition),
    transform var(--ds-transition),
    box-shadow var(--ds-transition);

  /* lift the button up 2px */
  box-shadow: oklch(from var(--color-background) 20% c h) 0px 2px 0px;
  margin-top: 2px;
  transform: translateY(-2px);

  color: var(--ds-color-text);
  background: var(--color-background);

  &:hover {
    background: var(--color-background-hover);
  }

  &:active {
    background: var(--color-background-active);

    /* push the button down */
    transform: translateY(0px);
    box-shadow: none;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 2px solid var(--ds-color-lavender-50);
    outline-offset: 2px;
  }
}

:host([variant=primary]) button {
  --color-background: var(--ds-color-lavender-50);
  --color-background-hover: var(--ds-color-lavender-60);
  --color-background-active: var(--ds-color-lavender-70);
}

:host([variant=negative]) button {
  --color-background: var(--ds-color-rose-50);
  --color-background-hover: var(--ds-color-rose-60);
  --color-background-active: var(--ds-color-rose-70);
}



:host {
  /* The consumer should own the host, but it has low specificity here so ok to set things that can be overwritten */
  display: inline-block;
}
