:host {
  display: inline-block;
}

input {
  appearance: none;
  display: flex;
  align-items: center;
  position: relative;
  height: 20px;
  width: 38px;
  border-radius: 2rem;
  border: 1px solid var(--ds-color-surface-4);
  background-color: var(--ds-color-surface-2);
  transition: background var(--ds-transition);
  cursor: pointer;

  &:hover {
    background: var(--ds-color-surface-3);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &::before {
    content: "";
    display: block;
    height: 18px;
    aspect-ratio: 1 / 1;
    background: var(--ds-color-text);
    border-radius: 1.2rem;
    position: absolute;
    border: 1px solid var(--ds-color-surface-4);
    transition: transform var(--ds-transition);
    transform: translateX(-1px);
  }

  &:checked {
    background: var(--ds-color-lavender-50);
    &:hover {
      background: var(--ds-color-lavender-60);
    }
    &::before {
      transform: translateX(17px);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--ds-color-lavender-50);
    outline-offset: 2px;
  }
}
