:host {
  display: inline-block;
}

#anchor {
  anchor-name: --a;
}

#tooltip {
  /* Position */
  position-anchor: --a;
  position-area: top;
  position-try-fallbacks:
    flip-block,
    flip-inline,
    flip-block flip-inline;

  /* Styles */
  overflow: visible;
  background: var(--ds-color-surface-3);
  color: var(--ds-color-text);
  padding: var(--ds-space-xs) var(--ds-space-s);
  border-radius: var(--ds-radius);
  border: 1px solid var(--ds-color-surface-5);
  margin: var(--ds-space-xs);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  /* Animation */
  opacity: 0;
  transform: scale(0.95);
  transition:
    opacity var(--ds-transition),
    transform var(--ds-transition),
    display var(--ds-transition) allow-discrete,
    overlay var(--ds-transition) allow-discrete;

  &:popover-open {
    opacity: 1;
    transform: scale(1);

    @starting-style {
      opacity: 0;
      transform: scale(0.95);
    }
  }
}

#arrow {
  position-anchor: --a;
  position: absolute;
  width: 12px;
  height: 12px;
  background: inherit;
  border: inherit;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);

  /* transform: translateX(-50%) translateY(-50%) rotate(45deg); */
  /* top: 100%; */
  /* left: 50%; */

  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  top: 100%;
  left: 50%;

  .top {
    transform: translateX(-50%) translateY(-50%) rotate(225deg);
    top: 0;
  }
}
