:host {
  display: inline-block;
}

#anchor {
  anchor-name: --anchor;
}

#tooltip {
  /* Position */
  position-anchor: --anchor;
  position-area: top;
  anchor-name: --tooltip;
  position-try-fallbacks:
    flip-block,
    flip-inline,
    flip-block flip-inline;

  /* Styles */
  overflow: visible;
  background: var(--ds-color-surface-3);
  color: var(--ds-color-text);
  padding: var(--ds-space-xs) var(--ds-space-s);
  border-radius: var(--ds-radius);
  border: 1px solid var(--ds-color-surface-5);
  margin: var(--ds-space-xs);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  /* Animation */
  opacity: 0;
  transform: scale(0.95);
  transition:
    opacity var(--ds-transition),
    transform var(--ds-transition),
    display var(--ds-transition) allow-discrete,
    overlay var(--ds-transition) allow-discrete;

  &:popover-open {
    opacity: 1;
    transform: scale(1);

    @starting-style {
      opacity: 0;
      transform: scale(0.95);
    }
  }
}

#arrow {
  width: 6px;
  height: 6px;
  background: var(--ds-color-surface-3);
  border: 1px solid var(--ds-color-surface-5);
  padding: 0;
  margin: 0;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);

  &.left {
    transform: translateX(-50%) translateY(-50%) rotate(315deg);
    left: calc(anchor(--tooltip right) - 1px);
    top: anchor(--tooltip center);
  }

  &.right {
    transform: translateX(-50%) translateY(-50%) rotate(135deg);
    left: calc(anchor(--tooltip left) + 1px);
    top: anchor(--tooltip center);
  }

  &.top {
    transform: translatex(-50%) translatey(-50%) rotate(45deg);
    top: calc(anchor(--tooltip bottom) - 1px);
    left: anchor(--anchor center);
  }

  &.bottom {
    transform: translateX(-50%) translateY(-50%) rotate(225deg);
    top: calc(anchor(--tooltip top) + 1px);
    left: anchor(--anchor center);
  }

  /* Animation */
  opacity: 0;
  transition:
    opacity var(--ds-transition),
    display var(--ds-transition) allow-discrete,
    overlay var(--ds-transition) allow-discrete;

  &:popover-open {
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
}
