.field-container {
  display: grid;
  grid-template-areas:
    "label"
    "control"
    "helper";
  gap: var(--ds-space-xs);
}

.label-wrapper {
  grid-area: label;
}

.control-wrapper {
  grid-area: control;
}

.helper-wrapper {
  grid-area: helper;
}

.label-wrapper ::slotted(*) {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  color: var(--ds-color-text);
  cursor: pointer;
  user-select: none;
  margin: 0;
}

.helper-wrapper ::slotted(*) {
  font-family: inherit;
  font-size: 12px;
  color: var(--ds-color-text-dark);
  margin: 0;
}

:host(:state(layout-horizontal)) .field-container {
  grid-template-areas:
    "label control"
    "helper control";
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: var(--ds-space-l);
  row-gap: var(--ds-space-xs);
}

:host(:state(layout-horizontal)) .control-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
