@import url("reset.css");
@import url("component.css");

body {
  background: var(--ds-color-background);
  color: #f2eef5;
  font-family: sans-serif;
}

docs-shell:not(:defined) {
  display: none;
}

docs-shell {
  --main-width: 1100px;
  --sidebar-width: 250px;
  display: grid;
  grid-template-columns:
    1fr var(--sidebar-width) minmax(auto, var(--main-width))
    1fr;
  min-height: 100vh;
}

aside {
  background: var(--ds-color-surface-1);
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & > div {
    width: var(--sidebar-width);
    padding: var(--ds-space-l);
  }

  .title {
    border-bottom: 1px solid var(--ds-color-surface-3);
    padding-bottom: var(--ds-space-xl);

    a {
      display: block;
      font-size: 2em;
      margin-bottom: var(--ds-space-xs);
      color: var(--ds-color-lavender-50);
      text-decoration: none;
    }
  }

  nav {
    h2 {
      font-size: 14px;
      font-weight: bold;
      padding: var(--ds-space-s) 0;
    }

    a {
      font-size: 14px;
      text-decoration: none;
      padding: var(--ds-space-s) 0;
      color: #b8b3c2;
      transition: color var(--ds-transition);

      &.active {
        color: var(--ds-color-lavender-70);
      }

      &:hover:not(.active) {
        color: #f2eef5;
      }
    }

    section {
      padding: var(--ds-space-m) 0;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid var(--ds-color-surface-3);
    }
  }
}

main {
  grid-column: 3 / 4;
  padding: var(--ds-space-l) var(--ds-space-xxl);

  h1,
  h2,
  section {
    margin-bottom: var(--ds-space-xl);
  }
}
